:root {
  --cinza: #f46;
  --vermelha: #a35;
  --vermelha-escura: #511;
  --branca: #322;
  --luz: #aaf;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #224 0%,#ddf 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 15px;
  font-size: 2.2rem;
  font-weight:900;
  text-decoration:underline;
  background:radial-gradient(#faa 0%, #aaf 100%);
  border-radius:40px;
  padding:6px;
  border-right:20px double #f55;   border-top:5px double #f5f;   border-left:12px double #55f;   border-bottom:8px double #a3d;



}

h2 {
  color: var(--branca);
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight:900;
  text-decoration:underline;

}


.teclado {
  background: linear-gradient(to bottom, #aaa 0%,#ccc 100%);
  box-shadow: 6px 8px 0 6px #333, 10px 10px 10px #000;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 10px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 150px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 400px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 6px 6px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline:var(--luz);
  box-shadow: 4px 4px 12px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}


mark {
font-size:160%;
background:none;
color:#f00;
}

#mark2 {
font-size:40%;
background:none;
color:#f00;
}