
:root {
  --cinza: #a0d;
  --vermelha: #c57;
  --vermelha-escura: #511;
  --branca: #322;
  --luz: #aaf;
}

body {
  zoom:69%;
  align-items: center;
  background: linear-gradient(60deg, #224 0%,#aba 50%,#eec 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 15px;
  font-size: 2.2rem;
  font-weight:900;
  text-decoration:underline;
  background:radial-gradient(#faa 20%, #aaf 100%);
  border-radius:50px;
  padding:6px;
  border:20px double #255;

}

h2 {
  color: var(--branca);
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight:900;
  text-decoration:underline;

}


.teclado {
  background: linear-gradient(60deg, #aba 0%,#ddc 100%);
  box-shadow: 6px 8px 0 6px #333, 10px 10px 10px #000;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background:linear-gradient(60deg, #322 50%,#633 100%);
  border-radius: 10px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 150px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 400px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 20px 20px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline:var(--luz);
  box-shadow: 4px 4px 12px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 10px 10px 0 #301 inset, 4px 4px 15px var(--luz);
  background:linear-gradient(60deg,#511 0%,#733 50%, #944 90%,#733 100%);
}


mark {
font-size:160%;
background:none;
color:#f00;
}

#mark2 {
font-size:40%;
background:none;
color:#f00;
}

.tecla:hover{
  background:linear-gradient(60deg, #333 50%,#655 100%);
  border: 4px solid  var(--vermelha);
  color: #eee;
  outline: none;
}
